/* header class */
.nav-display{
    color: #6156F9 !important;
    font-size: 16px;
    font-family: 'Poppins';
    max-width: 1170px;
    width: 100%;
}
.bg-color{
    background-color: white;
    top: 0;
    left: 0;
}
.nav-style{
    padding-top: 0px !important;
}
.logo-size{
    max-width: 82px;
    width:100%;
    padding-left:100px !important;
}
.nav-p{
    padding-right:100px !important;
}
body{
    padding-top:135px;
}
/* end header */
/* start section */
.t-unerline{
    text-decoration: none !important;
}
.b-color{
    background: rgb(89,79,229);
    background: linear-gradient(90deg, rgba(89,79,229,1) 35%, rgba(28,20,162,1) 100%);
    width: 216px;
    height: 49px;
}
.tc-light{
    color: #fff;
}
.par-container{
   max-width: 533px;
   width: 100%;
}
.s-style{
    font-size: 20px;
    font-family: 'Poppins';
    color: #7E76F9;
}
.image-size{
    width: 90px;
    height: 90px;
}
.card-size {
    max-width: 367px;
    width:100%;
    height: 410px;
    box-shadow: 0px 10px 20px #efeeff;;
    border-radius:36px;
}
.btn-style {
    background: rgb(29,21,163);
    background: linear-gradient(90deg, rgba(29,21,163,1) 45%, rgba(64,55,208,1) 72%, rgba(97,86,249,1) 98%);
    border-radius: 36px;
}
.card-size:nth-child(1),
.card-size:nth-child(2),
.card-size:nth-child(3) {
    margin-bottom: 112px;
}
.card-text {
    height: 130px;
}
.f-size{
    font-size: 12px;
    font-family: 'Poppins';
}
/* atart tooter */
.i-style{
    max-width: 430px ;
    width: 100% ;
    /* width:430px; */
    border: none ;
    background-color: #F6F7FB;
}
.ftr-btn-style{
    max-width: 170px;
    width: 100% ;
    /* width:170px; */
}